[Desktop Entry]
Name=Eclipse C++
Comment=A C/C++ Development Environment
Icon=eclipse-cpp
Exec=eclipse-cpp
Terminal=false
Type=Application
Categories=Development;IDE;Java;C++
StartupNotify=true
