[Desktop Entry]
Name=Eclipse JEE
Comment=A Java Enterprise Edition Development Environment
Icon=eclipse-jee
Exec=eclipse-jee
Terminal=false
Type=Application
Categories=Development;IDE;Java;JEE
StartupNotify=true
